
<ul class="sidebar-nav">
    <li class="nav-item">first item</li>
    <li class="nav-item">first item</li>
    <hr>
    <li class="nav-item">first item</li>
    <li class="nav-item">first item</li>
    <hr>
    <li class="nav-item">first item</li>
</ul>


<div class="dashboard-container">
    <!-- header -->
    <h2 class="heading">Dashboard</h2>
    <!-- four smaller cards -->
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Percent complete</h5>
                    <div class="row">
                        <div class="col-auto">75%</div>
                        <div class="col">
                            <div class="progress">
                                <div
                                    class="progress-bar"
                                    role="progressbar"
                                    style="width: 75%;"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h6 class="card-title">Total Revenue</h6>
                    <h5>1.2M</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h6 class="card-title">Annual Expenses</h6>
                    <h5 class="card-text">600.3K</h5>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h6 class="card-title">Assigments Due This Week</h6>
                    <h5 class="card-text">6</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- row of line chart and pie chart -->
    <div class="row">
        <!-- line or scatter chart -->
        <div class="col-xl-8 col-lg-7 align-items-center">
            <div class="card shadow">
                <div class="card-header">
                    <h6>Line or Scatter chart</h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title here</h5>
                    <div class="card-text">Text here</div>
                </div>
            </div>
        </div>

        <!-- pie chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow">
                <div class="card-header">
                    <h6>Pie Chart</h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title here</h5>
                    <div class="card-text">Text here</div>
                </div>
            </div>
        </div>
    </div>
</div>
